* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    background-color: #FFF2F2;
}

img {
    max-width: 1005;
}

p {
    font-size: 1rem;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}

.main-container{
    height: 100vh;
    width: 100%;
    max-width: 600px;
    background-color: #A9B5DF;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.chat-container{
    height: 100%;
}

.message{
    padding: 1rem 2rem;
}

.chat-container .message:nth-child(odd){
    background-color:  #2D336B;
    color: white;
}

.chat-container .message:nth-child(even){
    background-color:  #7886C7;
}

.chat-header {
    padding: 1rem 2rem;
    background-color: white;
    font-weight: bold;
    font-size: 1.8rem;
}

.messages-container{
    display: flex;
    flex-direction: column;
    height: 70%;
}

#message-form{
    display: flex;
    width: 100%;
    gap: 1rem;
    position: absolute;
    bottom: 0;
}

#message-input{
    width: 100%;
    padding: 0.6rem;
    outline: none;
}

#send-btn{
    padding: 0.6rem 1.2rem;
}